* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background:#f2f2f2;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

.wrap {
	width: 90%;
	max-width: 500px;
	margin: auto;
}


h1 {
	text-align: center;
	font-size: 50px;
}

/* Estilos generales de la tabla */
table {
	width: 80%; /* Ajusta el ancho según tus necesidades */
	margin: 0 auto; /* Centra la tabla horizontalmente */
	border-collapse: collapse;
	font-family: Arial, sans-serif;
	border: 3px solid #ccc; /* Agrega bordes a la tabla */
  }
  
  /* Estilo para el encabezado de la tabla */
  thead {
	background-color: #f2f2f2;
  }
  
  thead th {
	padding: 10px;
	font-weight: bold;
	border-bottom: 1px solid #ccc; /* Agrega borde inferior a las celdas del encabezado */
  }

  th {
	font-size: 27px;
  }
  
  /* Estilo para las filas de productos */
  tbody tr:nth-child(even) {
	background-color: #f9f9f9;
  }
  
  tbody td {
	padding: 10px;
	border-bottom: 1px solid #ccc; /* Agrega borde inferior a las celdas de los registros */
	text-align: center;
  }
  
  /* Estilo para la primera columna (código de artículo) */
  tbody td:first-child {
	font-weight: bold;
	text-align: center;
  }
  
  /* Estilo para la última columna (precio) */
  tbody td:last-child {
	text-align: center;
  }
  
  .delete {
	color: #ccc;
  }

  .delete-boton {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: red;
	color: white;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  
  .delete-boton:hover {
	background-color: darkred;
  }

  .oculta {
    display: none;
  }

  .alert {
	padding: 1em;
	color:#fff;
	border-radius: 2px;
	margin-bottom: 20px;
	font-size: 20px;
    text-align: center;
}

.alert.success {
	background: #ff1111;
}

#reload-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f1f1f1;
    color: #666;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  #reload-btn i {
    font-size: 22px;
    line-height: 40px;
  }